<br/>
<br/>
<h2>Confirm deletion of flight</h2>
<br/>
<br/> ID:
<%=  flight._id %>
  <br> name:
  <%=flight.name%>
    <br/> startingPoint:
    <%=flight.startingPoint%>
      <br/> endingPoint:
      <%=flight.endingPoint%>
      <br/>startingTime :
      <%=flight.startingTime%>
      <br/> durationHours:
      <%=flight.durationHours%>
      <br/> numPassengers:
      <%=flight.numPassengers%>
      <br/>pilotId :
      <%=flight.pilotId%>
      <br/> planeId:
      <%=flight.planeId%>
            <br/>
            <br/>

            <form method="get" action="/flight">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/flight/delete/<%= flight._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>
