<!-- main  -->
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= flight.name %>" required>
    </div>
    <div class="form-group">
      <label for="startingPoint">startingPoint</label>
      <input type="text" class="form-control" id="startingPoint" name="startingPoint" value="<%= flight.startingPoint %>">
    </div>
    <div class="form-group">
      <label for="endingPoint">endingPoint</label>
      <input type="text" class="form-control" id="endingPoint" name="endingPoint" value="<%= flight.endingPoint %>">
    </div>
    <div class="form-group">
      <label for="startingTime">startingTime</label>
      <input type="text" class="form-control" id="startingTime" name="startingTime" value="<%= flight.startingTime %>">
    </div>      
    <div class="form-group">
      <label for="durationHours">durationHours</label>
      <input type="number" class="form-control" id="durationHours" name="durationHours" value="<%= flight.durationHours %>" required>
    </div>
    <div class="form-group">
      <label for="numPassengers">numPassengers</label>
      <input type="number" class="form-control" id="numPassengers" name="numPassengers" value="<%= flight.numPassengers %>" required>
    </div>
    <div class="form-group">
      <label for="pilotId">pilotId</label>
      <input type="number" class="form-control" id="pilotId" name="pilotId" value="<%= flight.pilotId %>" required>
    </div>
    <div class="form-group">
      <label for="planeId">planeId</label>
      <input type="number" class="form-control" id="planeId" name="planeId" value="<%= flight.planeId %>" required>
    </div>
  </div>
</div>
<hr>
<br/>
<br/>
