<br/>
<br/>
<br/>
<h1>Snohitha Rakashi</h1>
<h2>Working on flights</h2>
<!DOCTYPE>  
<html>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<head><title>Snohitha Rakashi </title>
    <article>
            <link rel="stylesheet" href="snohi.css">
                     
            
            <ul>
                    <li><a href="file:///C:/Users/S531379/Desktop/A01/snohi.html">Home</a></li>
                    <li><a href="file:///C:/Users/S531379/Desktop/A01/logic.html">Logic</a></li>
                    <li><a href="file:///C:/Users/S531379/Desktop/A01/contact.html">Contact</a></li>

            </ul>
            
                    
                    
            
            
            
 
<h1 align="center">Snohitha Rakashi</h1>
</article>
</head>  
<body class="bg" style="background-position: center;background-repeat:no-repeat;background-size: cover" background="https://lh3.googleusercontent.com/IfQVND4FcQmrp-R9Q-fTepIkW9E9XSrTowQI13C0HGsCBQd-a6swoDPD0T9hoSICDf8pGUc=s128"> 
    <div class="container-fluid">   
        <!-- <body background="p.jpg" background-size="100%" background-repeat="no-repeat"> -->
                <img src="https://lh3.googleusercontent.com/UJjE-IasGs7wUeicp3srTPyagK2MiXCTbVu2YqndMPspsKGBbVZvF3nGuKuMtjpdbwaraA=s85" class="img-circle" alt="image"width="200"height="200">
                <div class="col-md-8">
    <section>
            <h1>CURRENT</h1>  
            <p>I am pursuing my masters in Applied Computer Science at Northwest Missouri 
                state and this is my first semester
                 </p>
                 </section>
                 <section>
                     <h1> BACKGROUND</h1>
                     
                     <aside>
                            
                            <p>I am from hyderabad and I have pursued bachelors from Vignan Institute of technology and Sciences in the stream 
                                of Computer Science</p>
                          </aside>
                          </section>
            <section>
                <h1>PLANS</h1>
                <p> I want to be a Senior Software Engineer in a reputed MNC, where I can enhance my skills and come up with my ideas.</p>
            </section>
            <section>
                <h1>HOBBIES</h1>
                <P>My hobbies are listening to music and web surfing</P>
            </section>
            <iframe width="350" height="200" src="https://www.youtube.com/embed/sFukyIIM1XI" frameborder="0"
                     allow="autoplay; encrypted-media" allowfullscreen></iframe>





  </div>               


    

<footer>
        <p align="center">Posted by: Snohitha Rakashi</p>
        <p align="center">Contact information: <a href="S531379@nwmissouri.edu">S531379@nwmissouri.edu</a>.</p>
      </footer>

</article>
</div>
</body>  
</html>  




<br/>
<br/>