<br/>
<br/>
<h2>plane details</h2>
<br/>
<br/> ID:
<%=  plane._id %>
<br> company:
<%=plane.company%>
<br> model:
<%=plane.model%>
<br> year:
<%=plane.year%>
<br> seats:
<%=plane.seats%>
        <br/>
        <br/>
            <form method="get" action="/plane">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>
