<!-- main  -->
<div class=row>
  <div class="col col-xs-12">   
    <div class="form-group">
      <label for="company">Company</label>
      <input type="text" class="form-control" id="company" name="company" value="<%= plane.company %>">
    </div>
    <div class="form-group">
      <label for="model">Model</label>
      <input onchange="model()" type="number" class="form-control" id="model" name="model" value="<%= plane.model %>" required>
    </div>
    <div class="form-group">
      <label for="year">Year</label>
      <input onchange="year()" type="number" class="form-control" id="year" name="year" value="<%= plane.year %>" required>
    </div>
    <div class="form-group">
      <label for="seats">Seats</label>
      <input onchange="seats()" type="number" class="form-control" id="seats" name="seats" value="<%= plane.seats %>" required>
    </div>
    </div>
</div>
<hr>
<br/>
<br/>

