<br/>
<br/>
<br/>
<h1>Shivani Busireddy</h1>
<h2>Working on Pilots</h2>
<!doctype html>

<head>

<title>
Shivani Busireddy

</title>
<link rel="stylesheet"
		href="shivani.css" />
		<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="bg" style="background-position: center;background-repeat: no-repeat;background-size: cover" background="https://media2.s-nbcnews.com/i/MSNBC/Components/Video/151008/tdy_hall_fares_151008.jpg">

		
			

	<iframe width="424" height="238" align="right" src="https://www.youtube.com/embed/5v2DP3HPEXQ">
	
	</iframe>

	


	<br/>
			<img src="https://lh3.googleusercontent.com/IgTmbd5jIeYwdBQI6W2dmTs_7dtm4FodyuSv_fXftnMa9IC4hXCgmKJ4ym5TuIPa6Vim4A=s85"  width="200" height="136">

	
	<div class="nav">
            <div class="container-fluid">
                    <article>
                        <span id="ab"><h1><em>About Me</em></h1></span>
                        <br>
    <section>
        
    <header class="section-header">
     <Strong><em>Current</em></strong> </header>
    <p>
    I am currently pursuing Masters degree at <strong>Northwest Missouri State University</strong> and this is my first semester.
    </p>
    </section>
    </div>

    <div class="container-fluid">
    <section id="past-section">
    <header class="section-header">
    <Strong><em>Background</em></strong> </header>
    <p>I'm from Hyderabad, India. 
    I have work experience of 1 year 4 months on Business Intelligence(Informatica Tool) in Hewlett Packard Enterprise.</p>
    </section>
    </div>
    <div class="container-fluid">
    <section id="future-section">
    <header class="section-header">
    <strong><em>Plans</em></strong></header>
    <p>
    I love programming and want to be a good software developer in next few years.
    And I am excited to work on web Technologies as well.
    </p>
    </section>
    </div>
	</article>

</body>
</html>



<br/>
<br/>